<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href='/static/css/style.css')
        //link(rel="stylesheet", href="https://fonts.google.com/specimen/Saira+Stencil+One?query=saira+STE&sidebar.open=true&selection.family=Saira+Stencil+One")
        title= nombrePagina
    body
        header.header
            h1 UpTasks
            -if (user)
                h4= user.userName
            form(action="/sessions?_method=DELETE" method="POST")
                input(type="submit" value="Cerrar sesión" class='btn btnCerrar')
        div.wrapper
            div.sidebar
                ul
                    //button(class='btn btnCrear') Crear Proyecto
                    a(href="/projects/new" class='btn btnCrear') Crear Proyecto
                    -if(projects)
                        each projecto in projects
                            li
                                a(href= `/projects/${projecto.id}`)= projecto.name
                    
        block contenido