*{
    margin: 0;
    padding: 0;
    box-sizing: none;
    text-decoration: none;
    font-family: 'Saira Stencil One', cursive;
}
body{
    background: #fff;
}

body h2{
    text-align: center;
    margin-left: auto;
}

.header{
    display: block;
    background: #87e3ff ;
}

.btnCerrar{
    text-align: right;
}
/*Menú Bar*/
.btnCrear{
    background: #5FC0DE;
    padding: 4% 2% 4% 2%;
    margin: 10% 10%;
    font-size: 24px;
    font-family: 'Saira Stencil One', cursive;
    color: #D9D2CC;
    text-align: center;
    cursor: pointer;
    transition: 0.8s;
}
.btnCrear:hover{
    background: #307B91;
}

.btnCrear::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    z-index: -1;
    transition: 0,8s;
}

.wrapper{
    position: fixed;
    width: 30%;
    height: 100%;
    background: #D9D2CC;
    padding: 30px 0;
}

.wrapper .sidebar h2{
    color: #D9D2CC;
    background: #5FC0DE;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}

.wrapper .sidebar ul li{
    padding: 15px;
    transition: 0.8s;
    margin-top: 10%;
}

.wrapper .sidebar ul li a{
    color: #fff;
    display: block;
}

.wrapper .sidebar ul li:hover{
    background: #307B91;
}

.wrapper .sidebar ul li:hover a{
    color: #D9D2CC;
}
/*Menú Bar*/

.contenedor{
    flex: 1;
    padding: 1rem;
    overflow: scroll;
}

.formNew{
    max-width: 800px;
    width: 90%;
    background-color: #87E3FF;
    margin: 0 auto;
    padding: 2rem;
    color: #000000;
    transition: background-color .5s ease-in-out;
}

/*Barra Avance*/
.barra-avance {
    height: 30px;
    border: 1px solid #999;
    max-width: 800px;
    width: 90%;
    margin: 0 auto;
}

.porcentaje {
    width: 0%;
    height: 100%;
    background-color: #00B762;
    background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-size: 1rem 1rem;
    transition: width .3s ease;
}
/*Barra Avance*/

.completo {
    color: #00B762;
}