extends ../layout

block contenido
    .container
        div.contcentrado
            h1 Editar Proyecto
            form.form-task(action=`/projects/${project.id}?_method=PUT` method="POST")
                label(for="") Nombre
                input(type="text" name="name" placeholder="Nombre del proyecto")
                input(type="submit" value="Guardar")