<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href='/static/css/login.css')
        <link href="https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap" rel="stylesheet">
        title Login
    body
        form(class="box" action="/registrations" method="POST")
            h1 Crear Cuenta
            input(type="text", name="first_name" placeholder= "Nombre")
            input(type="text", name="last_name" placeholder= "Apellido")
            input(type="email", name="email" placeholder= "Coreo electronico")
            input(type="password", name="password" placeholder= "Contraseña")
            input(type="submit" value="Sign-in")

            a(href="/sessions") Volver a Iniciar Sessión